
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;

    .error-code {
        display: flex;
        justify-content: center;
        .error-code-text {
            font-size: 24px;
        }
    }
    
    .error-message {
        display: flex;
        justify-content: center;
        .error-message-text {
            font-size: 20px;
        }
    }

}

