.title {
    font-size: 24px;
}

.text {

    
    .text1 {
        font-size: 16px;
    }

    .text2 {
        font-size: 16px;
    }
}

.button_hi {
    display: flex;
    justify-content: center;
    button {
        background-color: whitesmoke;
        color: black;
        border: 3px;
    }
    button:hover {
        background-color: green;
        color: azure;
        border: none;
    }
}

