
* {
    font-family: "Mulish", serif;
}


html, body {
    height: 100%; 
    margin: 100px 10px;
    justify-content: center;
    align-items: center; 

}

.title {
    font-size: 24px;
    padding-bottom: 30px;
}

.text {
    .text1 {
        font-size: 16px;
    }

    .text2 {
        font-size: 16px;
    }
}

.button_hi {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    button {
        height: 60px;
        width: 200px;
        font-size: 20px;
        background-color: pink;
        color: black;
        border: 3px;
        border-radius: 5px;
    }
    button:hover {
        background-color: green;
        color: azure;
        border: none;
    }
}

